.paper-custom {
  padding: '36px';
  height: '100vh';
}

.form-custom {
  display: flex !important;
  flex-direction: row !important;
  margin-left: 24px !important;
  margin-right: 44px !important;
  padding: 0 !important;
}

.form-element {
  width: 90% !important;
  margin: 12px !important;
}

.data-container {
  overflow-y: scroll;
  padding: 36px;
  height: 80vh;
}

@media screen and (max-width: 650px) {

  .paper-custom {
    padding: 12px;
    height: 100vh;
  }

  .form-custom {
    flex-direction: column !important;
    width: 100% !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  .form-element {
    width: 95% !important;
    margin: 12px !important;
  }

  .data-container {
    overflow-y: scroll;
    padding: 12px;
    height: 80vh;
  }
}